/*
* Remix Icon v4.9.1 (Minimal Build - TianshanOS)
* https://remixicon.com
* Only includes icons used in TianshanOS Web UI
*/
@font-face {
  font-family: "remixicon";
  src: url('/fonts/remixicon.woff2') format('woff2');
  font-display: swap;
}

[class^="ri-"], [class*=" ri-"] {
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Icon sizes */
.ri-lg { font-size: 1.3333em; line-height: 0.75em; vertical-align: -.0667em; }
.ri-xl { font-size: 1.5em; line-height: 0.6666em; vertical-align: -.075em; }
.ri-xxs { font-size: .5em; }
.ri-xs { font-size: .75em; }
.ri-sm { font-size: .875em }
.ri-1x { font-size: 1em; }
.ri-2x { font-size: 2em; }
.ri-fw { text-align: center; width: 1.25em; }

/* TianshanOS Icons - Only what we use */
.ri-download-cloud-line:before { content: "\ec58"; }
.ri-question-line:before { content: "\f045"; }
.ri-refresh-line:before { content: "\f064"; }
.ri-restart-line:before { content: "\f080"; }
.ri-service-line:before { content: "\f0e2"; }
.ri-time-line:before { content: "\f20f"; }
.ri-usb-line:before { content: "\f252"; }
.ri-user-line:before { content: "\f264"; }
.ri-key-line:before { content: "\eea5"; }
.ri-lock-line:before { content: "\eef1"; }
.ri-login-box-line:before { content: "\eef7"; }
.ri-shield-user-line:before { content: "\f0da"; }
.ri-admin-line:before { content: "\ee03"; }
.ri-check-line:before { content: "\eb7b"; }
.ri-close-line:before { content: "\eb98"; }
.ri-door-open-line:before { content: "\ec4c"; }
.ri-checkbox-blank-circle-fill:before { content: "\eb7c"; }
.ri-apps-line:before { content: "\ea44"; }
.ri-line-chart-line:before { content: "\eeab"; }
.ri-temp-hot-line:before { content: "\f1f4"; }
.ri-dashboard-3-line:before { content: "\ec12"; }
.ri-scan-line:before { content: "\f0bd"; }
.ri-box-3-line:before { content: "\f2f5"; }
.ri-delete-bin-line:before { content: "\ec2a"; }
.ri-add-line:before { content: "\ea13"; }
.ri-arrow-right-line:before { content: "\ea6c"; }
.ri-link-unlink:before { content: "\eeb1"; }
.ri-network-line:before { content: "\f65e"; }
.ri-signal-wifi-3-line:before { content: "\f130"; }
.ri-broadcast-line:before { content: "\eaf9"; }
.ri-edit-line:before { content: "\ec86"; }
.ri-download-line:before { content: "\ec5a"; }
.ri-upload-line:before { content: "\f250"; }
.ri-folder-add-line:before { content: "\ed5a"; }
.ri-folder-line:before { content: "\ed6a"; }
.ri-home-line:before { content: "\ee2b"; }
.ri-toggle-line:before { content: "\f219"; }
.ri-toggle-fill:before { content: "\f218"; }
.ri-eject-line:before { content: "\ec88"; }
.ri-lightbulb-line:before { content: "\eea9"; }
.ri-lightbulb-flash-line:before { content: "\eea8"; }
.ri-information-line:before { content: "\ee59"; }
.ri-question-answer-line:before { content: "\f04e"; }